
  *{
    padding:0;
    margin:0;
  }

  html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
  }

  .container{
    width:100%;
    height:100%;
  }

  @import 'partials/header.scss';

  @import 'partials/main.scss';

  @import 'partials/footer.scss';
